@charset "UTF-8";

@font-face {
    font-family: 'oswald';
    src: url(fontes/oswald.otf) format(opentype);
    src: url(fontes/oswald.ttf);
}

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);
    src: url(fontes/idroid.ttf);
}

body {
    font-family: sans-serif;
    background-color: #85E1AC;
}

header {
    background-image: linear-gradient(to top, #1A5A36, #3CD983);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    text-align: center;
}

.tituloprincipal {
    font-family: 'oswald';
    font-weight: 500;
    color: white;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 25px;
}

.subtitulosite {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: initial;
    background-image: initial;
}

.linkscabecalho {
    color: white;
    text-decoration: none;
}

.linkscabecalho:hover {
    color: #85E1AC;
    text-decoration: underline;
    background-color: #2c9459;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 1s;
}

.linkscabecalho:active {
    color: #298d54;
}

main {
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: auto;
    background-color: white;
    max-width: 1000px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

a {
    padding: 20px;
    font-weight: bold;
}

.boxlinks {
    text-align: left;
    padding-bottom: 10px;
}

h1, h2 {
    font-family: idroid;
    color: #1A5A36;
}

h2 {
    background-image: linear-gradient(to right, #C8EDD9, white);
    padding-left: 10px;
}

p {
    text-indent: 25px;
}

img {
    width: 100%;
}

.centralizaisso {
    max-width: 350px;
    margin: auto;
}

body {
    margin: 0px;
}

.linkscorpo {
    color: #298d54;
    text-decoration: none;
    padding: 0px;
}

.linkscorpo:hover {
    color: #1d683e;
    text-decoration: underline;
    background-color: #41eb8d;
    border-radius: 5px;
    transition-duration: 1s;
}

.linkscorpo:active {
    color: #85E1AC;
}

.blocoverdin {
    background-color: #C4EBD7;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
}

.h1bloco {
    font-family: Arial, Helvetica, sans-serif;
    background-image: unset;
    background-color: #2FA967;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.pbloco {
    padding: 0px 10px;
    padding-bottom: 10px;
}

nav {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

aside ul {
    list-style-type: '\✔️\00A0\00A0';
    columns: 2;
}

.video {
    background-color: #1A5A36;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    background-color: #1A5A36;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    padding: 0px;
    margin: 0px;

}

footer a {
    color: white;
    text-decoration: none;
    padding: 0;
}